@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a:active{
  color: inherit;
  text-decoration: none;
}
.carousel-image {
  position: absolute;
  transition: opacity 1s ease-in-out;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

.carousel-container{
  min-height:420px;
}
@media(max-width: 768px){
  .carousel-container{
    min-height: 300px;
  }
}