.carousel{
    padding:25px;
    transition: height 1s ease;
    overflow: hidden;

}
/*i want the carousel component to always have 80% the height of its parent component, answer-header*/
.carousel{

    height:350px;
}
.carousel-indicators{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: transparent;
}
.textContent{
    margin-top:auto;
    padding:0 25px;
}

.carousel-inner{
    margin:0;
}
@media(max-width:500px){
    .carousel{
        height: 570px;
    }
}